/*-- scss:defaults --*/

$body-bg: #FDF6E3;

$callout-color-note: #862680;
$callout-color-caution: #FDC88D;
$callout-color-tip: #C63E74;
$callout-color-warning: #FD9567;
$callout-color-important: #DF5167;
